.root {
  background: #f4f7fa;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.header {
  align-items: center;
  background: white;
  color: #444;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -1px;
  height: 75px;
  padding: 37px 25px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex: 1;
  overflow: auto;
}

.navigator {
  background: white;
  border-right: solid 1px rgba(0, 0, 0, 0.075);
  margin-top: 2px;
  padding: 25px;
}

.navigator table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.navigator th {
  border-bottom: solid 1px #DDE6EB;
  border-top: solid 1px #DDE6EB;
  color: #333;
  font-size: 13px;
  padding: 15px 20px;
  text-align: left;
  text-transform: uppercase;
}

.navigator th:first-child {
  border-left: solid 1px #DDE6EB;
  border-radius: 7px 0 0 7px;
}

.navigator th:last-child {
  border-radius: 0 7px 7px 0;
  border-right: solid 1px #DDE6EB;
}

.navigator td {
  border-bottom: solid 1px #eee;
  color: #333;
  font-size: 13px;
  padding: 10px 20px;
}

.navigator .action {
  background: #28bd8b;
  border: 0;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 20px;
  text-transform: uppercase;
  transition: all 50ms ease-in;
}

.navigator .action:hover {
  background: #28C995;
}

.content {
  flex: 1;
  padding: 25px;
}

.followUps {
  background: #fafafa;
}

.followUp {
}

.followUpItem {
  margin-right: 20px;
}

.followUpAction {
  background: none;
  border: 0;
  color: #28bd8b;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}
