.root {
  margin-bottom: 20px;
  padding: 0px 15px;
}

.header {
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: 900;
  padding: 8px 13px;
  text-transform: uppercase;
}

.headerText {
  flex: 1;
}
