.root {
  border-radius: 4px;
  color: #6a7583;
  display: flex;
  font-size: 14px;
  margin: -3px 0;
  padding: 8px 13px;
  transition: all 50ms ease-in;
}

.root:hover:not(.selected) {
  color: #A9B5C5;
  cursor: pointer;
  transform: scale(1.02);
}

.root.selected {
  background: rgba(0, 0, 0, 0.2);
  color: #A9B5C5;
}

.main {
  flex: 1;
}
