.root {
  align-items: center;
  background: #313541;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  display: flex;
  height: 75px;
  margin-bottom: 20px;
  padding: 0 25px
}

.avatar {
  background: url('http://www.gravatar.com/avatar/3dcbcf29bf0a1f507e5e364d97e1d181.jpg?s=30');
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.name {
  color: #6a7583;
  flex: 1;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}
