body,
button,
input,
select {
  font-family: lato;
  -webkit-font-smoothing: antialiased;
}

body,
html,
body > div {
  cursor: default;
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0;
  overflow: auto;
}

* {
  box-sizing: border-box;
  outline: 0;
}

:global .ct-action {
  background: #28bd8b !important;
  border: 0 !important;
  border-radius: 20px !important;
  color: white !important;
  cursor: pointer !important;
  font-size: 13px !important;
  padding: 10px 30px !important;
  text-transform: uppercase !important;
  transition: all 50ms ease-in !important;
}

:global .ct-action:hover {
  background: #28C995 !important;
}

:global .ct-error-message {
  display: none !important;
}

:global .ct-activity-indicator {
  position: relative;
  right: 20px !important;
  top: 20px !important;
}
